*   {  margin: 0;padding: 0; }
body {
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    background: #dcdcdc;
    margin-left: 3%;
    margin-right: 3%;
    margin-top:5vh;
    margin-bottom: 5vh;
}


h2, h3          { padding-right: 14px; padding-left: 14px; background-color: #fffaf0}
a, h1, h2       { color: #000000; }
h1, h2          { font-family: 'Goudy Old Style', serif; margin: 0; }
h1              { border-bottom: 2px solid #eae2d7; }
h2              { font-size: 2em; }
h3              { font-size: 1em; }
a               { font-size: 1em; }
td, th          { padding: 3px;}
/*tr.highlight td {padding-top: 10px; padding-bottom:10px}*/

/*.page           { margin: 1em auto; width: 50em; border: 2px solid #ccc;
                  padding: 0.8em; background: white; }*/

/*.navbar-inverse { background: #A1256B; color: #FFFFFF; font-style: italic; font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;}*/
/*.navbar-brand   { font-size: 2em; text-decoration: none;  }*/
/*.navbar a.navbar-brand {color: #FFFFFF; }*/


.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.7em; padding: 10px 10px 0;
                   background: #fffaf0; }
.tablist        {font-size: 1em;  padding: 0.3em; background: #fffaf0; margin-bottom: -1em;}
.flash          { background: #fffaf0; padding: 0.5em;
                  border: 1px solid #deedce; }
.error          { background: #f0d6d6; padding: 0.5em; }



